body {
    background-color: black;
    color: white;
}

#embed-container {
    display: table;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.title {
    text-align: center;
    padding-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bottom-nav {
    background-color: rgb(32, 32, 46);
    height: 80px;
    width: 100%;
}

.text {
    padding-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

a {
    color: white;
}